<h1 style="color: #3022ad; font-size: 30px; padding-bottom: 80px; font-weight: bold;">
    SMART DRIVING
</h1>
<h2 style="padding-bottom: 30px; color: white; font-size: 28px;">Connectez vous</h2>

<p>
    <button (click)="google_login()" nz-button nzSize="large" nzShape="round">
        <i nz-icon [nzType]="'google'"></i>
        Google
    </button>
</p>

<p>
    <button (click)="fb_login()" nz-button nzSize="large" nzShape="round">
        <i nz-icon [nzType]="'facebook'"></i>
        Facebook
    </button>
</p>