<div class="menu">
    <nz-tabset nzTabPosition="bottom" (nzSelectChange)="menuSelected($event.index)">
        <nz-tab [nzTitle]="Tab1">
            <ng-template #Tab1>
                <i nz-icon nzType="calendar" nzTheme="outline"></i>
            </ng-template>
        </nz-tab>

        <nz-tab [nzTitle]="Tab2">
            <ng-template #Tab2>
                <i nz-icon nzType="dollar" nzTheme="outline"></i>
            </ng-template>
        </nz-tab>

        <nz-tab [nzTitle]="Tab3">
            <ng-template #Tab3>
                <i nz-icon nzType="user" nzTheme="outline"></i>
            </ng-template>
        </nz-tab>

        <nz-tab [nzTitle]="Tab4">
            <ng-template #Tab4>
                <i nz-icon nzType="file-protect" nzTheme="outline"></i>
            </ng-template>
        </nz-tab>


        <nz-tab [nzTitle]="Tab6">
            <ng-template #Tab6>
                <i nz-icon nzType="car" nzTheme="outline"></i>
            </ng-template>
        </nz-tab>
    </nz-tabset>
</div>