.content {
    height: 100%;
    width: 100%;
    padding: 16px;
    text-align: center;
}

.login {
    background: #6495ed;
    height: 100%;
    width: 100%;
    text-align: center;
}

.title {
    padding-left: 5px;
    height: 60px;
    background: #6495ed;
    padding: 12px;
    color: white;
    font-size: 20px;
}

.foot {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: #dcdcdc98;
}

menu {
    margin: 0;
    padding: 0;
}
