<div class="content" *ngIf="currentUser.id">
  <div class="title" nz-row nzAlign="middle">
    <div nz-col nzSpan="22"> {{title}}</div>

    <div nz-col style="text-align: right;">
      <i (click)="logout()" nz-icon nzType="poweroff" nzTheme="outline"></i>
    </div>
  </div>

  <div>
    <nz-drawer [nzClosable]="false" nzHeight="320px" [nzVisible]="visible" nzPlacement="top" nzTitle="Merci d'utiliser SMART DRIVING">
      <ng-container *nzDrawerContent>

        <p>
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Ville de résidence" [(ngModel)]="currentUser.ville">
            <nz-option nzLabel="Douala" nzValue="Douala"></nz-option>
            <nz-option nzLabel="Yaounde" nzValue="Yaounde"></nz-option>
            <nz-option nzLabel="Bafousam" nzValue="Bafousam"></nz-option>
            <nz-option nzLabel="Kribi" nzValue="Kribi"></nz-option>
          </nz-select>
        </p>

        <p>
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Votre vehicule" [(ngModel)]="currentUser.marque">
            <nz-option nzLabel="Toyota" nzValue="Toyota"></nz-option>
            <nz-option nzLabel="Mercedes" nzValue="Mercedes"></nz-option>
            <nz-option nzLabel="Nissan" nzValue="Nissan"></nz-option>
            <nz-option nzLabel="" nzValue="Nissan"></nz-option>
          </nz-select>
        </p>

        <p>
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Votre assurance" [(ngModel)]="currentUser.assurance">
            <nz-option nzLabel="Activa" nzValue="Activa"></nz-option>
            <nz-option nzLabel="AGC" nzValue="AGC"></nz-option>
            <nz-option nzLabel="ASCOMA" nzValue="ASCOMA"></nz-option>
            <nz-option nzLabel="AXA" nzValue="AXA"></nz-option>
            <nz-option nzLabel="Chanas" nzValue="Chanas"></nz-option>
          </nz-select>
        </p>

        <br>
        <div style="text-align: center;">
          <button (click)="createUser()" nz-button nzType="primary" nzShape="round" nzSize="large">Valider</button>
        </div>
        
      </ng-container>
    </nz-drawer>
  </div>


</div>

<div class="login" *ngIf="!currentUser.id" nz-row nzJustify="center" nzAlign="middle">
  <div nz-col>
    <login (register)="registerUser()"></login>
  </div>


  <div style="bottom: 5px; position: fixed; color: #292323; padding-left: 12px;">
    <p style="font-size: 12px;">2021 &copy;CGW Academy </p>
  </div>
</div>