.content {
    height: 100%;
    width: 100%;
}

.login {
    background: #6495ed;
    height: 100%;
    width: 100%;
    text-align: center;
}

.title {
    padding-left: 5px;
    height: 60px;
    background: #6495ed;
    padding: 12px;
    color: white;
    font-size: 20px;
}

