<div class="content" *ngIf="currentUser.id">
  <div class="title" nz-row nzAlign="middle">
    <div nz-col nzSpan="22"> {{title}}</div>

    <div nz-col style="text-align: right;">
      <i (click)="logout()" nz-icon nzType="poweroff" nzTheme="outline"></i>
    </div>
  </div>

  <div *ngIf="view=='new user'">
    <register [user]="currentUser" [visible]="view=='new user' ? true : false"></register>
  </div>


</div>

<div class="login" *ngIf="!currentUser.id" nz-row nzJustify="center" nzAlign="middle">
  <div nz-col>
    <login (register)="registerUser()"></login>
  </div>


  <div style="bottom: 5px; position: fixed; color: #292323; padding-left: 12px;">
    <p style="font-size: 12px;">2021 &copy;CGW Academy </p>
  </div>
</div>