<div *ngIf="menu=='login'" class="login" nz-row nzJustify="center" nzAlign="middle">
  <div nz-col>
    <div>
      <app-login></app-login>

      <div style="position: fixed; bottom: 5px;">
        <p>2021 &copy; CGW Academy</p>
      </div>
    </div>
  </div>
</div>

<div *ngIf="menu=='register'">
  register
</div>

<div *ngIf="menu=='menu'" class="content">
  <div class="title" nz-row nzAlign="middle">
    <div nz-col nzSpan="22">SMART DRIVING </div>

    <div nz-col>
      <i nz-icon nzType="poweroff" nzTheme="outline" (click)="logout()"></i>
    </div>
  </div>

  <div class="dyna-compo"></div>

  <div class="menu" >
    <app-menu></app-menu>
  </div>
</div>