.login{
    background: #6495ed;
    height: 100%;
    width: 100%;
    text-align: center;
}

.menu{
    background: white;
    position: fixed;
    bottom: 5px;
    width: 100%;
}

.content{
    text-align: center;
    width: 100%;
}

.title{
    background: #6495ed;
    height: 60px;
    color: white;
    font-size: 20px;
    text-align: left;
    padding-left: 12px;
}